@import './hero-image';
@import './highlighted-course';

@block module {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 2vw;

  & img {
    width: 100%;
    height: auto;
  }

  & + .module {
    margin-top: var(--grid-gutter);
  }
}
