@block grid-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (--breakpoint-desktop) {
    flex: 0 0 calc(50% - var(--grid-gutter));
    margin: 0 calc(var(--grid-gutter) / 2 * -1);
  }

  @element item {
    flex: 0 0 100%;
    margin-bottom: var(--grid-gutter);

    @media (--breakpoint-desktop) {
      box-sizing: border-box;
      flex: 0 0 calc(50% - var(--grid-gutter));
      margin: 0 calc(var(--grid-gutter) / 2) var(--grid-gutter);
    }
  }
}
