@block layout-centered {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 2vw;
}

@block layout-centered-small {
  max-width: calc(var(--content-max-width) - 360px);
  margin: 0 auto;
  padding: 0 2vw;
}
