extends layout

include mixins/_courseCard

block content
  .layout-sidebar
    section.layout-sidebar__sidebar
      .layout-sidebar__sidebar-header
        h2.layout-sidebar__sidebar-title Categories
      .layout-sidebar__sidebar-content
        .sidebar-menu
          ul.sidebar-menu__list
            li.sidebar-menu__item
              a.sidebar-menu__link.active(href=`/courses`) All courses
            each category in categories
              li.sidebar-menu__item
                a.sidebar-menu__link(href=`/courses/categories/${category.fields.slug}${queryString}`) #{category.fields.title}
    section.layout-sidebar__content
      h1= title
      .courses.grid-list
        each course in courses
          .grid-list__item
            +courseCard(course)
