extends layout

include mixins/_courseCard

block content
  .wrapper.wrapper-with-sidebar
    section.wrapper__sidebar
      h2 Categories
      .sidebar-menu
        ul
          li
            a.active(href=`/courses`) All courses
          each category in categories
            li
              a(href=`/courses/categories/${category.sys.id}`) #{category.fields.title}
    section.wrapper__content
      h1= title
      .courses.grid-list-small
        each course in courses
          +courseCard(course)
