extends layout

include mixins/_copyModule
include mixins/_heroImageModule
include mixins/_highlightedCourse
include mixins/_highlightedLessonsModule

block content
  .container
    each module in landingPage.fields.contentModules
      case module.sys.contentType.sys.id
        when 'landingPageModuleCopy'
          +copyModule(module)

        when 'landingPageModuleHeroImage'
          +heroImageModule(module)

        when 'landingPageModuleHighlightedCourse'
          +highlightedCourseModule(module)

        when 'landingPageModuleHighlightedLessons'
          +highlightLessonsModule(module)
