doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #main
      #main__header
        .wrapper
          header#header
            section.header__logo
              a.logo--link(href='#')
                img(src='/images/logo.png' alt='Contentful University')
            section.header__navarea
              section.controls
                form(action="." method="get")
                  fieldset
                    label(for='api') API type:
                    select(name='api' onChange='this.form.submit()')
                      option(value='CDA') Delivery API
                      option(value='CPA') Preview API
                  fieldset
                    label(for='locale') Language:
                    select(name='locale' onChange='this.form.submit()')
                      option(value='en-US') English
                      option(value='de-DE') German
              nav.navigation
                ul
                  li
                    a.active(href='/') Home
                  li
                    a(href='/courses') Courses
                  li
                    a(href='/about') About
                  li
                    a(href='/settings') Settings

      #main__content
        block content

      #main__footer
        .wrapper
          footer#footer
            .upper
              nav.navigation
                ul
                  li
                    a.active(href='/') Home
                  li
                    a(href='/courses') Courses
                  li
                    a(href='/about') About
                  li
                    a(href='/settings') Settings
              .apps
                a(href='#')
                  img(src='/images/app-store-badge.png')
                a(href='#')
                  img(src='/images/google-play-badge.png')
            .lower
              .disclaimer
                p This website and the materials fond on it are for demo purposes using Contentful. You can use this to preview the content created on your Contentful account.
              .social
                p
                  a(href='#') FB
                  a(href='#') TW
  script(src='/scripts/highlight.pack.js')
  script hljs.initHighlightingOnLoad();
