h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-medium);
  font-weight: normal;
  line-height: 1.31;
  color: var(--color-text-headlines);

  &:first-child {
    margin-top: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p, label, .form-item {
  & a {
      color: var(--color-link-content);
      text-decoration: underline;

      &:hover {
        color: var(--color-link-content-hover);
        text-decoration: underline;
      }
    }
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}
