@block breadcrumb {
  margin-bottom: calc(var(--spacing) * 0.25);

  font-size: 0.875em;

  & ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    & li {
      margin: 0;

      &:after{
        content: '';
        display: inline-block;
        background: url('/images/icon-breadcrumb.svg');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 4px;
        height: 8px;
        padding: 0 calc(var(--spacing) * 0.25);
      }

      &:last-child:after{
        display: none;
      }

      & a {
        display: inline-block;
        text-transform: capitalize;

        &:hover {
          color: var(--color-link-content-hover);
        }
      }
    }
  }
}
