@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('/fonts/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'robotomedium';
    src: url('/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('/fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('/fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('/fonts/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
