@block header {
  margin-bottom: var(--grid-gutter);

  @media (--breakpoint-desktop) {
    flex-wrap: nowrap;
  }

  @element upper-wrapper {
    background: var(--color-palette-blue-dark);
    padding: calc(var(--grid-gutter) / 2) 0;
    color: var(--color-header-upper-text-secondary);
  }

  @element upper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    font-size: 0.8em;
  }

  @element upper-first {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (--breakpoint-desktop) {
      flex: 0 1 auto;
      flex-direction: row;
      margin-bottom: 0;
    }
  }

  @element upper-second {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (--breakpoint-desktop) {
      flex: 0 1 auto;
      flex-direction: row;
    }
  }

  @element upper-link {
    display: inline-flex;
    align-items: center;
  }

  @element upper-copy {
    display: inline-flex;
    margin: 0 0 calc(var(--grid-gutter) / 2);

    @media (--breakpoint-desktop) {
      margin: 0 calc(var(--grid-gutter) / 2) 0 0;
    }
  }

  @element upper-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: calc(var(--grid-gutter) / 4);
  }

  @element lower-wrapper {
  }

  @element lower {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--grid-gutter) 0 calc(var(--grid-gutter) / 4);
    border-bottom: 1px solid var(--color-bg-separator);
  }

  @element title {
    display: flex;
    align-items: center;
    font-family: var(--font-regular);
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--color-header-upper-text-primary);

    & img {
      display: inline-block;
      width: 24px;
      height: auto;
      margin-right: calc(var(--grid-gutter) / 2);
    }

    @media (--breakpoint-desktop) {
      margin: 0 calc(var(--grid-gutter) / 2) 0 0;
    }
  }

  @element logo {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;

    @media (--breakpoint-desktop) {
      flex: 0 0 200px;
    }

    & img {
      width: 100%;
      height: auto;
      max-width: 169px;
    }
  }

  @element controls {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-around;
    color: var(--color-header-upper-text-primary);

    @media (--breakpoint-desktop) {
      flex: 0 0 auto;
      flex-direction: row;
    }
  }

  @element controls_group {
    flex: 0 0 auto;
    position: relative;

    display: flex;
    margin: 0 0 calc(var(--grid-gutter) / 2);
    padding: 0 calc(var(--grid-gutter) / 2);

    border: none;
    background: var(--color-palette-blue-medium);
    border-radius: var(--border-radius);
    color: inherit;

    &:last-child {
      margin: 0;
    }

    @media (--breakpoint-desktop) {
      margin: 0 calc(var(--grid-gutter) / 2) 0 0;
    }
  }

  @element controls_label {
    position: relative;
    z-index: 1;
    font-family: var(--font-medium);
    cursor: pointer;
  }

  @element controls_dropdown {
    position: absolute;
    z-index: 2;
    box-sizing: border-box;

    width: 260px;
    max-width: 90vw;
    margin: calc(var(--grid-gutter) / 2 - 4px) 0 0;

    opacity: 0;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);

    transition: 0.3s opacity ease;
    pointer-events: none;

    @modifier active {
      opacity: 1;
      pointer-events: all;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: -5px;
        width: 10px;
        height: 10px;

        background-color: inherit;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }

  @element controls_help_text {
    padding: calc(var(--grid-gutter) / 2);
    color: var(--color-text-grey);
  }

  @element controls_button {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    margin: 0;

    border-radius: 0;
    background: var(--header-dropdown-bg);

    color: var(--header-dropdown-btn-color);
    font-size: 1em;

    &:hover {
      background: var(--header-dropdown-bg-hover);
      color: var(--header-dropdown-btn-color);
    }

    @modifier active {
      background: var(--header-dropdown-bg-active);
    }
  }
}
