@import './header';
@import './footer';

@import './table-of-contents';
@import './sidebar-menu';
@import './main-navigation';

body {
  background-color: var(--color-bg-default);
  color: var(--color-text-default);
  font-family: var(--font-regular);
  font-size: 1rem;
  line-height: var(--line-height);
}

#main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#main__header {
  flex: 0 0 auto;
}
#main__content {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
}
#main__footer {
  flex: 0 0 auto;
}
