@import './header';
@import './footer';

@import './table-of-contents';
@import './sidebar-menu';
@import './main-navigation';

body {
  background-color: var(--color-bg-default);
  color: var(--color-text-default);
  font-family: var(--font-regular);
  font-size: 1rem;
  line-height: var(--line-height);
}

@block main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @element header {
    flex: 0 0 auto;
  }
  @element content {
    flex: 1 0 auto;
    display: flex;
    align-items: stretch;
  }
  @element footer {
    flex: 0 0 auto;
  }
}
