mixin copyModule(module)
  .module.module-copy
    h1.module-copy__title #{module.fields.title}
    h3.module-copy__headline #{module.fields.headline}
    div.module-copy__copy !{helpers.markdown(module.fields.copy)}
