mixin copyModule(module)
  .module
    .module__copy
      h1.module__copy__title #{module.fields.title}
      h3.module__copy__headline #{module.fields.headline}
      div.module__copy__copy #{module.fields.copy}


