mixin editorialFeatures(entry, entryDelivery, entryPreview)
  if settings.editorialFeatures
    .editorial-features
      if currentApi.id === 'cpa'
        if !entryDelivery && entryPreview
          .editorial-features__item
            .pill.pill--draft draft
        if entryDelivery && entryPreview && (entryDelivery.sys.updatedAt !== entryPreview.sys.updatedAt)
          .editorial-features__item
            .pill.pill--updated updated
      .editorial-features__item
        a.editorial-features__text(
          href=`https://app.contentful.com/spaces/${settings.space}/entries/${entry.sys.id}`
          target='_blank'
          rel='noopener'
        ) Edit in the web app
        .editorial-features__hint-wrapper
          svg.editorial-features__hint-icon
            use(xlink:href='/icons/icons.svg#info')
          .editorial-features__hint-message Edit this entry in our web app. You have to be logged in and have access to the connected space to use this feature.
