mixin emptyModule()
  .module
    h2 ️️#{translate('noContentLabel', currentLocale.code)}
    h3 ️️#{translate('hintsLabel', currentLocale.code)}
    ul
      li ️️#{translate('notFoundErrorHint', currentLocale.code)}
      li ️️#{translate('draftOrPublishedErrorHint', currentLocale.code)}
