mixin heroImageModule(module)
  .module.module-hero-image
    h2.module-hero-image__title #{module.fields.title}
    h3.module-hero-image__headline #{module.fields.headline}
    img.module-hero-image__image(src=`${module.fields.backgroundImage.fields.file.url}` alt=`${module.fields.backgroundImage.fields.title}`)
