include ./_courseCard

mixin highlightedCourseModule(module)
  .module
    .module__higlightedCourse
      h2.module__higlightedCourse__title #{module.fields.title}
      +courseCard(module.fields.course)
