mixin lessonModuleImage(module)
  .lesson-module.lesson-module-image
    img.lesson-module-image__image(src=module.fields.file.url alt=module.fields.title)
    div.lesson-module-image__title #{module.fields.title}
