mixin lessonModuleImage(module)
   .lessonModule
     .lessonModule__image
        h1.lessonModule__image__title #{module.fields.title}
        img.lessonModule__image__image(src=module.fields.file.url alt=module.fields.title)