mixin lessonModuleImage(module)
  .lesson-module.lesson-module__image
    img.lesson-module__image__image(src=module.fields.file.url alt=module.fields.title)
    div.lesson-module__image__title #{module.fields.title}
