mixin moduleHeroImage(module)
  .module.module-hero-image
    .module-hero-image__wrapper
      .module-hero-image__headline-wrapper
        h2.module-hero-image__headline #{module.fields.headline}
      img.module-hero-image__image(src=`${module.fields.backgroundImage.fields.file.url}` alt=`${module.fields.backgroundImage.fields.title}`)
