@block footer {
  margin-top: var(--grid-gutter) 0;
  padding-top: var(--grid-gutter);

  @element upper {
    display: flex;
    flex-wrap: wrap;
    min-height: 80px;

    border-bottom: 2px solid var(--color-bg-separator);

    & > * {
      display: flex;
      align-items: center;
    }
  }

  @element navigation {
    flex: 1 1 auto;
  }

  @element apps {
    flex: 1 0 auto;
    justify-content: center;

    @media (--breakpoint-desktop) {
      justify-content: flex-end;
    }

    & a {
      display: inline-block;
      width: 138px;

      & + a {
        margin-left: var(--grid-gutter);
      }

      & img {
        width: 100%;
        height: auto;
      }
    }
  }

  @element lower {
    display: flex;
    min-height: 80px;
  }

  @element disclaimer {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    font-size: 0.7em;
    color: var(--color-text-grey);
  }

  @element social {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 0 var(--grid-gutter);

    & a + a {
      margin-left: var(--grid-gutter);
    }

    & img {
      width: 24px;
      height: auto;
    }
  }
}

