@custom-media --breakpoint-desktop (min-width: 700px);

:root {
  --grid-gutter: 22px;
  --border-radius: 3px;

  --line-height: 1.5em;

  --color-palette-blue: #5c9fef;

  --color-text-default: #2a303a;
  --color-text-grey: #8091a5;

  --color-link-content: var(--color-palette-blue);

  --color-bg-default: #fff;
  --color-bg-grey: #f7f9fa;
  --color-bg-separator: #f2f5f7;

  --color-sidebar-bg: #f7f9fa;

  --color-course-active: #536171;

  --card-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .45);

  --cta-color: #fff;
  --cta-bg: var(--color-palette-blue);
  --cta-radius: 3px;
}
