.lesson-module {
  margin-top: var(--grid-gutter);

  & img {
    width: 100%;
    height: auto;
  }
}

@block lesson {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @element title {
    margin-bottom: calc(var(--grid-gutter));
  }

  @element cta {
    margin-bottom: 0;
  }
}
