@block course-card {
  display: flex;
  flex-direction: column;
  padding: var(--grid-gutter);

  border-radius: var(--border-radius);
  box-shadow: var(--card-box-shadow);

  @element categories {
    flex: 0 0 var(--line-height);
    margin-bottom: var(--grid-gutter);
    height: var(--line-height);
  }

  @element category {
    display: inline-block;
    color: var(--color-text-grey);
    font-size: 0.75em;
    font-family: var(--font-medium);

    &:after {
      content: ' • ';
      display: inline-block;
      padding: 0 0.5em;
    }

    &:last-child:after {
      display: none;
    }
  }

  @element category-link {
    display: inline-block;
    letter-spacing: 2px;
  }

  @element title {
    flex: 0 1 15vh;
    max-height: 120px;
    margin: 0;
    overflow: hidden;

    padding-bottom: var(--grid-gutter);
    margin-bottom: var(--grid-gutter);
    border-bottom: 1px solid var(--color-bg-separator);

    font-family: var(--font-medium);
    font-weight: normal;
    font-size: 1.625em;
    line-height: 1.38;
  }

  @element description {
    flex: 0 1 15vh;
    max-height: 120px;
    overflow: hidden;
    margin: 0 0 var(--grid-gutter);

    line-height: 1.63;
    color: var(--color-course-card-description);
  }

  @element link-wrapper {
    flex: 0 0 auto;
  }

  @element link {
    display: inline-block;
    padding-bottom: 0.3em;
    border-bottom: 1px solid var(--color-link-content);
    text-transform: uppercase;
    color: var(--color-link-content);
    font-size: 0.75em;
    line-height: 2.17;
    letter-spacing: 2px;

    &:hover {
      color: var(--color-link-content-hover);
      border-bottom-color: var(--color-link-content-hover);
    }
  }
}
